body, div{
    margin: 0px;
    padding:0px;
    font-family:helvetica;
    background:white;
}

h2 {
    padding-left:15px;
    font: New York;
}
p {
    font-family: Georgia, serif;
    margin: 1em;
}
table {
    border: 1px solid #ffffff;
    margin: 1em;
}
table.form {
    border: 1px solid #ffffff;
}
table.left {
     border: 1px solid #b7b7b7;
     padding: 5px;
 }
table.right {
     border: 1px solid #b7b7b7;
     padding: 5px;
 }
tr {
    border: 1px solid #b7b7b7;
}
td, th {
    padding: .3em;
}
td.done {
    background-color: green;
}
td.notdone {
    background-color: red;
}
td.clear {
    border: 1px solid #ffffff;
}
.left {
    float:left;
    padding-left: 15px;
}
.right {
    float:left;
}

form {
   // margin: 1em;
    float:left;
    width:500px;
   height: 40px;
}

#header
{
    height: 100px;
    background: #49176D;
}
div.headfont
{
    font-family: Helvetica;
    font-size: 2.5em;
    color: white;
    padding-left: 20px;
    padding-top: 25px;
    background:inherit;
    min-width:550px;
}
#booksearch{
padding-top:20px;
padding-left:20px;
height:40px;
}


#navbar
{
    background: #49176D;
    padding-left:30px;
    height:50px;
}
a:link {
    text-decoration: none;
    color:white;
}

a:visited {
    text-decoration: none;
    color:white;
}

a:hover {
    text-decoration: none;
    color:white;
}

a:active {
    text-decoration: underline;
    color:white;
}

a.navbarbutton
{
padding-right:10px;
font-family: Helvetica;
font-size:1.5em;
background: #49176D;
list-style-type:none;
margin:0;
overflow:hidden;
text-decoration: none;
}

#filter
{
    padding-left:20px;
    height:20px;
}

#results
{
    height:50px;
}
